.block-refer { 
	border-top: 1px solid #527a8e;
	background: #222; 
	color: #808080;
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
	a { 
		color: #fff; 
	}
	h3 {
		padding: 0 12px;
	}
	img { 
		width: 100%; 
	}
}
.meta,
.share-tools {
	overflow:hidden;
}
.meta {
	height:48px;
	background: #555;
	border-top:1px solid #527a8e;
	border-bottom:1px solid #527a8e;
	p {
		position:relative;
		left:0;
		margin-bottom: 0;
		margin-left: 10px;
		color: #808080;
		font: normal 10px/48px 'Titillium Web';
		-webkit-transition: all 0.2s linear;
	}
	a {
		color: #93daff;	
	}
	&.active {
		p {
			-webkit-transition: all 0.2s linear;
			left:-300px;
		}
	}
	.category { 
		margin-right: .5em;
	}
}
.category,
.timestamp {
	text-transform: uppercase;
	font-size: 12px;
}
.excerpt {
	padding: 0 12px;
}
.share-toggle .glyphicon {
	line-height:42px;
	font-size:24px;
}
.share-tools {
	position:absolute;
	right:0;
	top:0;
	opacity: .85;
	width: 256px;
	ul {
		position: relative;
		right:-256px;
		-webkit-transition: all 0.1s linear;
		&.active {
			right:0;
			-webkit-transition: all 0.1s linear;
		}
		li {
			display: inline;
			float: left;
			background: #000;
			a {
				display: block;
				&:hover {
					opacity: .7;
				}
			}
		}
	}
}

.active .share-toggle {
	color:#fff;
	background:#93daff;
}
.active .share-tools ul {
	right:0;
	-webkit-transition: all 0.1s linear;
}
	

// OVERRIDES

#container {
	padding: 70px 0;
	margin: 0 auto;
	max-width: 1280px;
}
.container {
	padding: 0;
}
.glyphicon {
	font-size: 2.8rem;
}
.fc-webicon {
	border-radius:0 !important;
}

//font-family: 'Alfa Slab One', cursive;
//font-family: 'Noto Sans', sans-serif;
//font-family: 'Oswald', sans-serif;
//font-family: 'Doppio One', sans-serif;
//font-family: 'Oxygen', sans-serif;
//font-family: 'Titillium Web', sans-serif;
//font-family: 'Coda', cursive;


/*		6da2bd*/
/*		93daff*/

h3 {
	font-family: 'Titillium Web';
//	font-family: 'Alfa Slab One', cursive;
//	font-family: 'Noto Sans', sans-serif;
//	font-family: 'Oswald', sans-serif;
//	font-family: 'Doppio One', sans-serif;
//	font-family: 'Oxygen', sans-serif;
//	font-family: 'Coda', cursive;
	font-weight:400;
}

body { 
	background: #323232;
}
.col { 
	height:auto;
	margin-bottom: 30px;
	a { 
		color:#fff;
	}
}
.col.w2 { 
	height:auto; 
}

header,
footer {
	z-index: 2000;
	background: #000;
	position: fixed;
	left: 0;
	right: 0;
	color: #fff;
}
header {
	top: 0;
}
footer {
	bottom: 0;
	p {
		display: none;
		text-align:center;
		width: 100%;
		position: absolute;
		left: 0;
		color: #aaa;
		margin-top: 1.4em;
		font-size: .75em;
	}
}
.logo {
	> img {
		vertical-align:middle;
		line-height: 1;
		margin-top: 1em;
	}
}

@media all and (min-width: 600px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.logo {
		> img {
			margin-left: -.5em;
		}
	}
}

